@media (min-width : $desktopScreen){
    .home {
        flex-direction: row;
        justify-content: center;
        > article {
            width: 60%;
            max-width: 720px;
        }
    }
    .close {
        display: none;
    }
    .filter {
        width: 40%;
        height: 100%;
        max-width: 480px;
        padding: 3vh 0;
        margin-top: 3vh;
        form {
            width: 80%;
            row-gap: 3vh;
            font-size: 20px;
        }
        input, select {
            font-size: 16px;
        }
    }
    .list {
        li {
            width: 80%;
            flex-direction: row;
            padding: 3% 0;
            align-items: center;
        }
    }
}